.wrapper {
  --gap: 6px;
  --letter-button-size: 40px;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
}

.row {
  display: flex;
  gap: var(--gap);
}

.letter {
  width: var(--letter-button-size);
  height: var(--letter-button-size);
  line-height: var(--letter-button-size);
  background-color: hsl(0, 10%, 85%);
  text-align: center;
  font-size: 1.4rem;
  color: hsl(0, 0%, 5%);
  border-radius: 6px;
}

.correct {
  background-color: hsl(120deg, 75%, 70%);
}

.misplaced {
  background-color: hsl(60deg, 75%, 70%);
}

.incorrect {
  background-color: hsl(0, 15%, 15%);
  color: hsl(0, 0%, 85%);
}

@media (max-width: 1024px) {
  .wrapper {
    --letter-button-size: 30px;
  }
}